/target/
*/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
stale_outputs_checked

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/order-api/src/test/java/com/sq/orders/controller/OrderSubmitControllerTest.java
/log/
